@font-face {
    font-family: gilroy;
    src: url('../../Assets/Fonts/gilroy/Gilroy-Regular.woff')  format("woff");
  }
  
  *{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: gilroy, 'Open Sans', 'Helvetica Neue', sans-serif;
  }